<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMWWcc-2BL--G_xYKn8emcg7Gvo_hwiqg</string>
	<key>GCM_SENDER_ID</key>
	<string>337784599756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.comunicacionlince</string>
	<key>PROJECT_ID</key>
	<string>wats-clon</string>
	<key>STORAGE_BUCKET</key>
	<string>wats-clon.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337784599756:ios:ca6b936af8352ecf7b3e69</string>
</dict>
</plist>
